@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .WhatsAppIcon {
    width: 70px;
    height: 70px;
    top: 0px;
    left: 12.5px;
    position: absolute;
  }
}

@media (max-width: 480px) {
  .WhatsAppIcon {
    width: 70px;
    height: 70px;
  }
}